%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1--dark {
  @extend %heading;
}

.heading-2--dark {
  @extend %heading;
}

.heading-3--dark {
  @extend %heading;
}

.heading-4--dark {
  @extend %heading;
  font-size: 1.9rem;
}